# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\rukiye\OneDrive\Masaüstü\nd035-c4-Security-and-DevOps-3.UnitTestSolution\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
